{{!--
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> --}}
<div id="loader" style="display: none;">
  Loading...
</div>


<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row mt-3">

      <div class="col-12 col-xl-9 d-flex justify-content-between  p-3"> 
          <div class="alert alert-success p-md-2 col-8 " role="alert"> <span class="ml-1 ml-sm-5">NEW CATEGORY ADDED SUCCEFULLY </span> </div>
        <div class="div "><button class="btn-dark  p-md-2" data-bs-toggle="modal" data-bs-target="#addCategoryModal">Add Category</button></div>
      </div>

      <div class="col-lg-9">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Images</th>
                    <th scope="col">Category Name</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each categories}}
                  <tr>
                    <td><img class="img-fluid" src="{{this.categoryImage}}" alt="{{this.categoryName}} "></td>
                    <td>{{this.categoryName}}</td>
                    <td>
                      <button  data-bs-toggle="modal" data-bs-target="#EditModal" class="btn btn-dark " type="button" onclick="editCat('{{this._id}}','{{this.categoryName}}','{{this.categoryImage}}')">Edit</button>
                      <button class="btn btn-dark" type="button" onclick="deleteCat('{{this._id}}')">Delete</button>
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!--End Row-->


        {{!-- add category modal --}}
    <!-- Modal -->
    <div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title" id="exampleModalLabel">ADD CATEGORY</h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <!-- Category Name Field -->
            <form id="addForm" action="/admin/addCategory" method="post" enctype="multipart/form-data">

              <div class="mb-3">
                <label for="categoryName" class="form-label">Category Name</label>
                <input type="text" class="form-control" id="categoryName" name="categoryName"
                  placeholder="Enter category name">
                <small style="color: red;" id="categoryNameError"></small>
              </div>

              <!-- Image Adding Field -->
              <div class="mb-3">
                <label for="categoryImage" class="form-label">Image</label>
                <input type="file" class="form-control" id="categoryImage" name="image">
                <small style="color: red;" id="categoryImageError"></small>
              </div>
            </form>
          </div>
          {{!-- MODAL FOOTER --}}
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success" onclick="validateAndSubmit()">Submit</button>
          </div>
        </div>
      </div>
    </div>
    {{!-- modal end --}}



    {{!-- modify modal --}}
    <!-- Modal -->
    <div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
           
            <h5 class="modal-title" id="exampleModalLabel">EDIT CATEGORY</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div id="loader" style="display: none;">
  Loading...
</div>


          <div class="modal-body">
            <!-- Category Name Field -->
            <form id="EditForm" enctype="multipart/form-data">

              <div class="mb-3">
                <label for="categoryNameEdit" class="form-label">Category Name</label>
                <input type="text" class="form-control" id="categoryNameEdit" name="categoryNameEdit" placeholder="Enter category name"  value="">
                <small style="color: red;" id="categoryNameEditError"></small>
              </div>

              <!-- Image Adding Field -->
              <div class="mb-3">
                <small>Current Image</small>
                <img id="categoryImageEditView" style="width: 90px;" alt=""><br>
                <label for="categoryImageEdit" class="form-label">Image</label>
                <input type="file" class="form-control" id="categoryImageEdit" name="image">

              </div>
            </form>
          </div>
          {{!-- MODAL FOOTER --}}
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" form="editForm" class="btn btn-success" onclick="updateCat()">Update</button>
          </div>
        </div>
      </div>
    </div>
    {{!-- modal end --}}











  </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

  //ADD CATEGORIS MODAL VALIDATION 
  // Validation function
  function validateAndSubmit() {
    var errorCount = 0
    // Reset error messages
    $('#categoryNameError').html("");
    $('#categoryImageError').html("");


    // Get form values
    var categoryName = $('#categoryName').val()
    let categoryImage = document.getElementById('categoryImage')
    let Regex = /^[a-zA-Z]{3,10}$/; // Only letters, length between 3 and 10

    // Validate inputs
    if (!Regex.test(categoryName)) {
      $('#categoryNameError').html("Required: Only letters, length between 3 and 10");
      errorCount++
    }

    if (categoryImage.files.length == 0) {
      $('#categoryImageError').html("Image is required");
      errorCount++
    }

    if (errorCount == 0) {
      // If all validations pass, submit the form
      $('#addForm').submit();

    }
  }





  //EDIT CATEGORY 

  let id = null; //DECLARE GLOBALLY TO STORE ID

  //THIS FUNCTION WILL MAKE OPEN EDIT MODAL
  function editCat(Id, name, image) {
    event.preventDefault();
     //alert(`${id},${name},${image}`)       
    new bootstrap.Modal($('#EditModal')).show()
    $('#categoryNameEdit').val(name)
    $('#categoryImageEditView').attr('src', image)
    document.getElementById('categoryNameEdit').innerText="hrllo"
    id = Id
  
  }


  //UPDATAE FORM BUTTON TRIGGERS AND SEND TO SERVER
  function updateCat() {
    

    //VALIDATIONS
    let validate = false
    let categoryNameEdit = $('#categoryNameEdit').val()
    let categoryNameRegex = /^[a-zA-Z]{3,10}$/; // Only letters, length between 3 and 10

    if (categoryNameRegex.test(categoryNameEdit)) {
      $('#categoryNameEditError').html("")
      validate = true
    } else {
      $('#categoryNameEditError').html("Required: Only letters, length between 3 and 10")
    }


    if (validate) {
      document.getElementById('loader').style.display = 'block';

      console.log("update section entered after validations")
      event.preventDefault();
      let categoryNameEdit = $('#categoryNameEdit').val()
      let categoryImageEdit = document.getElementById('categoryImageEdit').files[0]
      console.log(categoryImageEdit)
      const formData = new FormData();
      formData.append('categoryNameEdit', categoryNameEdit);
      formData.append('image', categoryImageEdit);


      axios.put(`/admin/editCategory/${id}`, formData, {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      })
        .then((response) => {
           document.getElementById('loader').style.display = 'none';
          if (response.data.success) {
           // alert("updates successfully")
            window.location.href = '/admin/ViewCategory'
          } else {
        //    alert("Nothing To Update")
            window.location.href = '/admin/ViewCategory'
          }
        })

        .catch((error) => {
          console.error("Error updating the category:", error);
         // alert("Error in Updaing the category. Please try again later.");
        })
    }
  }




  //DELETE CATEGORY
  function deleteCat(catId) {
    event.preventDefault();
    //  alert(catId)
    axios.delete('/admin/deleteCategory', {
      data: { categoryId: catId }
    })

      .then(response => {
        if (response.data.success) {
          alert("Deleted successfully")
          window.location.href = "/admin/ViewCategory"
        } else {
          console.error("cant delete right now")
          alert("please try after sometime")
          window.location.href = "/admin/ViewCategory"
        }
      })
      .catch(error => {
        console.error("Error deleting the category:", error);
        alert("Error in deleting the category. Please try again later.");
      })
  }

</script>