<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<!-- Start wrapper-->
<div class="content-wrapper">
    <div class="container-fluid">
        <!--Start Dashboard Content-->
        <div class="card mt-3">
            <div class="card-content">
                <div class="row row-group m-0">
                    <div class="col-12 col-lg-6 col-xl-3 border-light">
                        <div class="card-body">
                            <h5 class="text-white mb-0">
                                {{totalOrders}}
                                <span class="float-right"><i class="fa fa-shopping-cart"></i></span>
                            </h5>
                            <div class="progress my-3" style="height: 3px">
                                <div class="progress-bar" style="width: 55%"></div>
                            </div>
                            <p class="mb-0 text-white small-font">
                                Total Orders

                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-3 border-light">
                        <div class="card-body">
                            <h5 class="text-white mb-0">
                                {{totalRevenue}}
                                <span class="float-right"><i class="fa fa-inr"></i></span>
                            </h5>
                            <div class="progress my-3" style="height: 3px">
                                <div class="progress-bar" style="width: 55%"></div>
                            </div>
                            <p class="mb-0 text-white small-font">
                                Total Revenue

                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-3 border-light">
                        <div class="card-body">
                            <h5 class="text-white mb-0">
                                {{totalUsers}}
                                <span class="float-right"><i class="fa fa-eye"></i></span>
                            </h5>
                            <div class="progress my-3" style="height: 3px">
                                <div class="progress-bar" style="width: 55%"></div>
                            </div>
                            <p class="mb-0 text-white small-font">
                                Total Users

                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-3 border-light">
                        <div class="card-body">
                            <h5 class="text-white mb-0">
                                {{totalVendors}}
                                <span class="float-right"><i class="fa fa-envira"></i></span>
                            </h5>
                            <div class="progress my-3" style="height: 3px">
                                <div class="progress-bar" style="width: 55%"></div>
                            </div>
                            <p class="mb-0 text-white small-font">
                                Total Vendors

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        {{!-- START ROW CHART SECTION --}}
        <div class="row">

            <div class="col-12 col-lg-6 col-xl-6"> <!-- 2ND CHART -->
                <div class="card">
                    <div class="card-header">
                        Daily Sales
                    </div>
                    <div class="card-body mb-5">
                        <div class="chart-container-2">

                            <canvas id="barChart"></canvas>
                        </div>
                    </div>

                    <div class="table-responsive mt-5">
                        <table class="table align-items-center">
                            <tbody>

                                <tr>
                                    <th>DATE</th>
                                    <th>DAY</th>
                                    <th>AMOUNT</th>
                                </tr>
                                {{#each dailySales}}
                                <tr>

                                    <td>{{date}}</td>
                                    <td>{{dayName}}</td>
                                    <td>&#x20b9;{{totalAmount}}</td>
                                </tr>
                                {{/each}}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="col-12 col-lg-6 col-xl-6"> <!-- 1st CHART -->
                <div class="card">
                    <div class="card-header">
                        Monthly Sales
                    </div>

                    <div style="height: 417px;" class="card-body ">
                        <div class="chart-container-1">
                            <canvas style="height: 400px !important; width: 400p !importantx;" id="pieChart"></canvas>
                        </div>
                    </div>

                    {{!-- <div class="table-responsive">
                        <table class="table align-items-center">
                            <tbody>
                                <tr>
                                    <th>Month</th>
                                    <th>Count</th>
                                    <th>AMOUNT</th>
                                </tr>
                                {{#each monthlySales}}
                                <tr>
                                    <td>{{monthName}}</td>
                                    <td>{{count}}</td>
                                    <td>&#x20b9;{{totalAmount}}</td>
                                </tr>
                                {{/each}}

                            </tbody>
                        </table>
                    </div> --}}
                </div>
            </div>





            {{!--
            <div class="col-12 col-lg-3 col-xl-3"> <!-- 1st CHART -->
                <div class="card">
                    <div class="card-header">
                        Weekly Sales
                    </div>

                    <div style="height: 417px;" class="card-body ">
                        <div class="chart-container-1">
                            <canvas id="doughnutChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            --}}


        </div>
        <!--End Row CHART SECTION  -->
        <!--End Dashboard Content-->

    </div>
    <!--Dashboard  End container-fluid-->
</div>
<!--End content-wrapper MAIN WRAPPER-->


<script>





    if ($('#lineChart').length) {

        var ctx = document.getElementById('lineChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [{{#each dailySales}} '{{dayName}}', {{/each}}],
    datasets: [{
        label: 'Sales Revenue',
        data: [{{#each dailySales }} '{{totalAmount}}', {{/each}}],
        backgroundColor: "rgb(255, 255, 255)",
            borderColor: "transparent",
                pointRadius: "0",
                    borderWidth: 1
                        }, ]
                    },
    options: {
        legend: {
            display: true,
                labels: {
                fontColor: '#ddd',
                    boxWidth: 40
            }
        },
        tooltips: {
            enabled: false
        },
        scales: {
            xAxes: [{
                ticks: {
                    beginAtZero: true,
                    fontColor: '#ddd'
                },
                gridLines: {
                    display: true,
                    color: "rgba(221, 221, 221, 0.08)"
                },
            }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        fontColor: '#ddd'
                    },
                    gridLines: {
                        display: true,
                        color: "rgba(221, 221, 221, 0.08)"
                    },
                }]
        }

    }
    });
			
		}


    if ($('#barChart').length) {
        var ctx = document.getElementById("barChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{{#each dailySales }} '{{dayName}}', {{/each}}],
    datasets: [{
        label: 'Sales Count',
        data: [{{#each dailySales }} '{{count}}', {{/ each}}],
        backgroundColor: "#fff"
                }]
            },
    options: {
        legend: {
            display: true,
                labels: {
                fontColor: '#ddd',
                    boxWidth: 40
            }
        },
        tooltips: {
            enabled: false
        },
        scales: {
            xAxes: [{
                barPercentage: .5,
                ticks: {
                    beginAtZero: true,
                    fontColor: '#ddd'
                },
                gridLines: {
                    display: true,
                    color: "rgba(221, 221, 221, 0.08)"
                },
            }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        fontColor: '#ddd'
                    },
                    gridLines: {
                        display: true,
                        color: "rgba(221, 221, 221, 0.08)"
                    },
                }]
        }

    }
        });
    }

    if ($('#polarChart').length) {
        var ctx = document.getElementById("polarChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'polarArea',
            data: {
                labels: ["Lable1", "Lable2", "Lable3", "Lable4"],
                datasets: [{
                    backgroundColor: [
                        "rgba(255, 255, 255, 0.35)",
                        "#ffffff",
                        "rgba(255, 255, 255, 0.12)",
                        "rgba(255, 255, 255, 0.71)"
                    ],
                    data: [13, 20, 11, 18],
                    borderWidth: [0, 0, 0, 0]
                }]
            },
            options: {
                legend: {
                    position: "right",
                    display: true,
                    labels: {
                        fontColor: '#ddd',
                        boxWidth: 15
                    }
                },
                scale: {
                    gridLines: {
                        color: "rgba(221, 221, 221, 0.12)"
                    },
                }
            }
        });
    }


    if ($('#pieChart').length) {
        var ctx = document.getElementById("pieChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: [{{#each monthlySales }} '{{monthName}}', {{/each}}],
    datasets: [{
        backgroundColor: ['blue', 'green', 'yellow', 'orange', 'purple', 'red', 'black', 'pink', 'brown', 'cyan', 'rgba(255, 255, 255, 0.25)', 'rgb(255, 255, 255)'],
        data: [{{#each monthlySales }} '{{totalAmount}}', {{/each}}],
        borderWidth: [0, 0, 0, 0]
                }]
            },
    options: {
        legend: {
            position: "right",
                display: true,
                    labels: {
                fontColor: '#ddd',
                    boxWidth: 15
            }
        }
    }
        });
    }


    if ($('#doughnutChart').length) {
        var ctx = document.getElementById("doughnutChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ["Lable1", "Lable2", "Lable3", "Lable4"],
                datasets: [{
                    backgroundColor: [
                        "rgba(255, 255, 255, 0.35)",
                        "#ffffff",
                        "rgba(255, 255, 255, 0.12)",
                        "rgba(255, 255, 255, 0.71)"
                    ],
                    data: [13, 120, 11, 20],
                    borderWidth: [0, 0, 0, 0]
                }]
            },
            options: {
                legend: {
                    position: "right",
                    display: true,
                    labels: {
                        fontColor: '#ddd',
                        boxWidth: 15
                    }
                }
            }
        });
    }



</script>