<div class="content-wrapper">
    <div class="container-fluid">
        <div class="table-responsive ">
            <table id="myTable" class="display ">
                <thead>
                    <tr>
                        <th>No</th>
                      
                        <th>User Name</th>
                        <th>Product Names</th>
                        <th>Order Status</th>
                        <th>Vendor Names</th>
                        <th>Quantity</th>
                        <th>MRP</th>
                        <th>Price</th>
                        <th>Sub Total</th>

                        <th>GST</th>
                        <th>Coupon</th>
                        <th>Grand Total</th>
                        <th>Payment Mode</th>
                        <th>PaymentId</th>
                        <th>Order Date</th>
                        <th>Delivery Date</th>
                          <th>Order Id</th>
                        <th>More</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each orders}}
                    <tr>
                        <td>{{{this.serialNumber}}}</td>
                       
                        <td>{{this.userIdRef.userName}}</td>

                        <td class="">{{#each productsArray}}
                            <div class="border p-1">Item {{this.PRODUCTSLNO}} - {{this.productIdRef.productName}}</div>
                            {{/each}}
                        </td>



                        <td> {{#each productsArray}}
                            <div class="border  p-1">{{this.status}}</div>
                            {{/each}}
                        </td>


                        <td>{{#each productsArray}}
                            <div class="border  p-1">{{this.productIdRef.vendorName}}</div>
                            {{/each}}
                        </td>


                        <td>{{#each productsArray}}
                            <div class="border  p-1">{{this.qty}}</div>
                            {{/each}}
                        </td>


                        <td>{{#each productsArray}}
                            <div class="border  p-1">{{this.productIdRef.productMRP}}</div>
                            {{/each}}
                        </td>

                        <td>{{#each productsArray}}
                            <div class="border  p-1">{{this.productIdRef.productPrice}}</div>
                            {{/each}}
                        </td>

                        <td>{{#each productsArray}}
                            <div class="border  p-1">{{this.qty}} x {{this.productIdRef.productPrice}} = {{this.total}}
                            </div>
                            {{/each}}
                        </td>




                        {{!-- <td> {{this.gst}} (5%)</td> --}}
                        <td> 5%</td>
 
                        {{!-- <td>{{this.couponDiscount}}({{this.couponIdRef.value}} %)</td> --}}
                        <td>{{#if this.couponIdRef.value }} {{this.couponIdRef.value}} % {{else}} 0% {{/if}}</td>


                        <td>&#x20b9;{{this.total}}</td>
                        <td>{{this.modeOfPayment}}</td>
                        <td> {{#if this.razorPaymentId}}
                            {{this.razorPaymentId}}
                            {{else}}
                            Cash On Delivery
                            {{/if}}
                        </td>
                        <td data-format-order-date="{{this.createdAt}}"></td>
                        <td data-format-order-date="{{this.deliveryDate}}"></td>
                          <td>{{this._id}}</td>
                        <td><i onclick="viewModal({{@index}})" class="bi bi-eye eye"></i></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <div>


                {{!-- MODAL FOR VIEW ALL DETAILS --}}
                <!-- Modal -->
                <div class="modal fade" id="ViewModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6>Order Details</h6>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                   
                                    <div class="col-12">
                                        <label for="">user Name :</label><span id="name" class="ml-lg-2"></span>
                                    </div>

                                    <div class="col-12">
                                        <label for="">user Mail :</label><span id="mail" class="ml-lg-2"></span>
                                    </div>

                                    <div class="col-12">
                                        <label for="">user Phone Number :</label><span id="number"
                                            class="ml-lg-2"></span>
                                    </div>

                                    <div class="col-12">
                                        <label for="">user Id :</label><span id="userId" class="ml-lg-2"></span>
                                    </div>

                                    <div class="col-12">
                                        <label for="">Delivery Address :</label><span id="address"
                                            class="ml-lg-2"></span>
                                    </div> <br>

                                    <div class="col-12 productVendorDiv">                     
                                    </div>

                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>

            async function viewModal(index) {
                try {

                    let orderDataBase = {{{ orderStringified }}}

            new bootstrap.Modal($('#ViewModal')).show(); // MOAL OPEN WITH ALL DATA FILLED
            $('#name').text(orderDataBase[index].userIdRef.userName)
            $('#number').text(orderDataBase[index].userIdRef.number)
            $('#mail').text(orderDataBase[index].userIdRef.mail)
            $('#userId').text(orderDataBase[index].userIdRef._id)
            $('#address').html(` <br> ${orderDataBase[index].deliveryAddress.name} <br> ${orderDataBase[index].deliveryAddress.address} <br> ${orderDataBase[index].deliveryAddress.district} <br> ${orderDataBase[index].deliveryAddress.state} <br> ${orderDataBase[index].deliveryAddress.zip} <br>${orderDataBase[index].deliveryAddress.state} <br> `)
            
            $('.productVendorDiv').empty(); 
            orderDataBase[index].productsArray.map((data) => {

                let sample = `<label for="">Product Id :</label><span class="ml-lg-2">${data.productIdRef._id}</span> <br>
                           <label for="">Vendor Name :</label><span class="ml-lg-2">${data.productIdRef.vendorName}</span> <br>
                           <label for="">Vendor Id :</label><span  class="ml-lg-2">${data.productIdRef.vendorId}</span>  <br> `
                            $('.productVendorDiv').append(sample)
                        })




             

        } catch (error) {
                console.error(error)

            }
    }

        </script>
        <script>

            $(document).ready(function () {
                $('#myTable').DataTable();
            });







            function formatOrderDate(date) { //FUNCTION TO RETURN MODIFIED DATE
                let dateForm = new Date(date);
                const options = { weekday: 'short', month: 'short', day: 'numeric', year: 'numeric' };
                return dateForm.toLocaleDateString('en-US', options);
            }

            //
            function updateFormattedDateElements() { //FUNCTION WILL EACH IN DATES AND CALL MODIFY DATE AND IT WLL RETUN TO TEXT IN THAT DIV
                $('[data-format-order-date]').each(function () {
                    const dateAttribute = $(this).data('format-order-date'); //Here got the rendered date
                    const formattedDate = formatOrderDate(dateAttribute);  //this will call modfiy date function and it retuns it by modified and 
                    $(this).text(formattedDate);//modified date will dispaly on this div
                });
            }

            // Call the function to update the formatted dates
            updateFormattedDateElements();

            let mode = $('.mode').data('mode')
            if (mode == 'COD') {
                $('.mode').text("Cash On Delivery")
            }


        </script>