<div id="page">
    <div class="colorlib-product">
        <div class="container">

            <div class="row row-pb-lg">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product Image</th>
                                <th scope="col">Name</th>
                                <th scope="col">Size</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Price</th>
                                <th scope="col">Total</th>
                                <th scope="col">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each cart}}
                            <tr>
                                <td><img width="100px" src="{{this.productRef.productImages.[0].url}}" alt=""></td>
                                <td>{{this.productRef.productName}}</td>
                                <td>{{this.productSize}}</td>
                                <td>{{this.productQty}}</td>
                                <td>&#x20b9;{{this.productRef.productPrice}}</td>
                                <td>&#x20b9;{{this.total}}</td>
                                <td onclick="productRemove('{{this._id}}')"><i class="fa fa-trash ml-3"
                                        aria-hidden="true"></i></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row row-pb-lg">
                <div class="col-md-12">
                    <div class="total-wrap">
                        <div class="row">
                            <div class="col-sm-8">
                                <form action="#">
                                    <div class="row form-group">
                                        <div class="col-sm-9">
                                            <input type="text" name="quantity" class="form-control input-number"
                                                placeholder="Your Coupon Number...">
                                        </div>
                                        <div class="col-sm-3">
                                            <input type="submit" value="Apply Coupon" class="btn btn-primary">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-4 text-center">
                                <div class="total">
                                    <div class="sub">
                                        <p><span>Subtotal:</span> <span>$200.00</span></p>
                                        <p><span>Delivery:</span> <span>$0.00</span></p>
                                        <p><span>Discount:</span> <span>$45.00</span></p>
                                    </div>
                                    <div class="grand-total">
                                        <p><span><strong>Total:</strong></span> <span>$450.00</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    async function productRemove(productId) {
        try {
            // alert(productId)
            let response = await axios.post('/cartRemove', { productId})
            if(response.data.success){
              console.log("succesfully deleted the product from cart")
              window.location.href="/cartView"
            }
            
        } catch (error) {
          console.error(error)
          alert("cannot remove the product right now")
        }

    }
</script>