<div id="page">
    <div class="colorlib-product">
        <div class="container">
            <div class="row">
                
                <div class="col-12">
                  <h6>Summary</h6>
                                   <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">User id</th>
                                    <th scope="col">Product Id</th>
                                    <th scope="col">Vendor Id</th>
                                    <th scope="col">size</th>
                                    <th scope="col">qty</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each cart}}
                                <tr class="allValues" data-chooseqty='{{this.productQty}}'data-vendorqty='{{this.vendorStock}}' data-cartid="{{this._id}}">
                                    <td><img width="100px" src="{{this.productRef.productImages.[0].url}}" alt=""></td>
                                    <td>{{this.productRef.productName}}</td>
                                    <td>{{this.productSize}}</td>
                                    <td style="display: none;">{{this.vendorStock}}</td>
                                    <td>{{this.productRef.productPrice}}</td>
                                    <td class="TOTAL" style="color: black;"><b>{{this.total}}</b></td>
                                    <td class="availability"></td>
                                    <td onclick="productRemove('{{this._id}}')"><i class="fa fa-trash ml-3"
                                            aria-hidden="true"></i></td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="col-lg-8">
                    <form method="post" class="colorlib-form">
                        <h2>Billing Details</h2>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="country">Select Country</label>
                                    <div class="form-field">
                                        <i class="icon icon-arrow-down3"></i>
                                        <select name="people" id="people" class="form-control">
                                            <option value="#">Select country</option>
                                            <option value="#">Alaska</option>
                                            <option value="#">China</option>
                                            <option value="#">Japan</option>
                                            <option value="#">Korea</option>
                                            <option value="#">Philippines</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="fname">First Name</label>
                                    <input type="text" id="fname" class="form-control" placeholder="Your firstname">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="lname">Last Name</label>
                                    <input type="text" id="lname" class="form-control" placeholder="Your lastname">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="companyname">Company Name</label>
                                    <input type="text" id="companyname" class="form-control" placeholder="Company Name">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="fname">Address</label>
                                    <input type="text" id="address" class="form-control"
                                        placeholder="Enter Your Address">
                                </div>
                                <div class="form-group">
                                    <input type="text" id="address2" class="form-control" placeholder="Second Address">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="companyname">Town/City</label>
                                    <input type="text" id="towncity" class="form-control" placeholder="Town or City">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="stateprovince">State/Province</label>
                                    <input type="text" id="fname" class="form-control" placeholder="State Province">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="lname">Zip/Postal Code</label>
                                    <input type="text" id="zippostalcode" class="form-control"
                                        placeholder="Zip / Postal">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">E-mail Address</label>
                                    <input type="text" id="email" class="form-control" placeholder="State Province">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Phone">Phone Number</label>
                                    <input type="text" id="zippostalcode" class="form-control" placeholder="">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="radio">
                                        <label><input type="radio" name="optradio"> Create an Account? </label>
                                        <label><input type="radio" name="optradio"> Ship to different address</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="cart-detail">
                                <h2>Cart Total</h2>
                                <ul>
                                    <li>
                                        <span>No of Products</span> <span>{{noOfProducts}}</span>
                                    </li>
                                    <li><span>Total product price</span> <span>{{productTotal}}</span></li>
                                    <li><span>GST(5%)</span> <span>{{gst}}</span></li>
                                     <li><span>Shipping Charge</span> <span>Free</span></li>
                                     <li><span>Order Total</span> <span>&#x20b9; {{orderAmount}}</span></li>
                                </ul>
                            </div>
                        </div>

                        <div class="w-100"></div>

                        <div class="col-md-12">
                            <div class="cart-detail">
                                <h2>Payment Method</h2>
                                {{!-- <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="radio">
                                            <label><input type="radio" name="optradio"> Direct Bank Tranfer</label>
                                        </div>
                                    </div>
                                </div> --}}
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="radio">
                                            <label><input type="radio" name="optradio">Cash On Delivery</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="radio">
                                            <label><input type="radio" name="optradio">Razor Pay</label>
                                        </div>
                                    </div>
                                </div>
                                {{!-- <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="checkbox">
                                            <label><input type="checkbox" value=""> I have read and accept the terms and
                                                conditions</label>
                                        </div>
                                    </div>
                                </div> --}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p><a href="#" class="btn btn-primary">Place an order</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>