<div id="page">
    <div class="colorlib-product">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 ">
                    <div class="mb-4 " style="background-color: whitesmoke;">
                        <div class=" ml-4 p-2">
                            <label for=""> <b>
                                    <h6>Delivery Address</h6>
                                </b></label>
                            {{#each address}}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="addressRadio" id="address1" checked>
                                <label class="form-check-label" for="address1">
                                    <div>
                                        <p><b>{{this.name}}</b></p>
                                        <p>{{this.address}}</p>
                                        <p><span>{{this.district}},{{this.state}},{{this.zip}}, </span></p>
                                        <p>{{this.number}}</p>
                                         <p>{{this.mail}}</p>
                                    </div>
                                </label>
                            </div>
                            {{/each}}

                            <div class="form-check">
                                <button style="cursor: pointer;" class="bg-dark text-light p-1 my-3 rounded"
                                    data-toggle="modal" data-target="#addressModal">Add New Address</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="addressModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">New Address</h5>
                            </div>
                            <div class="modal-body">
                                <form method="post" id="addressForm">
                                    <h2>Billing Details</h2>
                                    <div class="row">

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="name">Name</label>
                                                <input type="text" id="Formname" class="form-control" name="name"
                                                    placeholder="Your Name">
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="address">Address</label>
                                                <input type="text" id="Formaddress" class="form-control" name="address"
                                                    placeholder="Enter Your Address">
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="companyname">District</label>
                                                <input type="text" id="Formcity" class="form-control" name="district"
                                                    placeholder="Town or City">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="state">State</label>
                                                <input type="text" id="Formstate" class="form-control" name="state"
                                                    placeholder="Enter Your State">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="zip">Postal Code</label>
                                                <input type="number" id="Formzip" class="form-control" name="zip"
                                                    placeholder="Zip / Postal">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="mail">E-mail Address</label>
                                                <input type="text" id="Formmail" class="form-control" name="mail"
                                                    placeholder="State Province">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="Phone">Phone Number</label>
                                                <input type="number" id="Formnumber" class="form-control" name="number"
                                                    placeholder="">
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-dark"
                                                onclick="submitForm()">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="col-lg-4">
                    <div class="row">

                        <div class="col-md-12 ">
                            <div class="cart-detail">
                                <button style="cursor: pointer; margin-left: 37px;" class="bg-dark text-light p-1 rounded "
                                    data-toggle="modal" data-target="#exampleModalLong">Order Summary !</button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Order Summary</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                {{#if multiple}}
                                                {{#each orderedProducts }}
                                                <div class="row border p-4 bg-dark text-light">
                                                    <div class="col-12">
                                                        <label for="">Product Image :</label><span id="name"
                                                            class="ml-lg-2"><img width="100px"
                                                                src="{{this.productImage}}" alt=""></span>
                                                    </div>

                                                    <div class="col-12">
                                                        <label for="">Product Name :</label><span id="name"
                                                            class="ml-lg-2">{{this.productName}}</span>
                                                    </div>

                                                    <div class="col-12">
                                                        <label for="">Product Category :</label><span id="cat"
                                                            class="ml-lg-2">{{this.productCategory}}</span>
                                                    </div>

                                                    <div class="col-12">
                                                        <label for="">Product Subcategory :</label><span id="sub"
                                                            class="ml-lg-2">{{this.productSubCategory}}</span>
                                                    </div>

                                                    <div class="col-12">
                                                        <label for="">Product Brand :</label><span id="brand"
                                                            class="ml-lg-2">{{this.productBrand}}</span>
                                                    </div>

                                                    <div class="col-12">
                                                        <label for="">Product Color :</label><span id="color"
                                                            class="ml-lg-2">{{this.productColor}}</span>
                                                    </div>

                                                    <div class="col-12">
                                                        <label for="">product Size: </label><span id="mrp"
                                                            class="ml-lg-2">{{this.productSize}}</span>
                                                    </div>

                                                    <div class="col-12">
                                                        <label for="">Product Quantity :</label><span id="discount"
                                                            class="ml-lg-2">{{this.productQty}}</span><span></span>
                                                    </div>

                                                    <div class="col-12">
                                                        <label for="">Product Price :</label>&#x20b9;<span id="price"
                                                            class="ml-lg-2">{{this.productPrice}}</span>
                                                    </div>

                                                    <div class="col-12">
                                                        <label for="">Product Total :</label><span id="vendorName"
                                                            class="ml-lg-2">{{this.productTotal}}</span>
                                                    </div>

                                                    <div class="col-12">
                                                        <label for="">Seller Name :</label><span id="vendorId"
                                                            class="ml-lg-2">{{this.vendorName}}</span>
                                                    </div>

                                                </div>

                                                {{/each}}
                                                {{/if}}

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="cart-detail">
                                <h2>Cart Total</h2>
                                <ul>
                                    <li><span>No of Products</span> <span>{{noOfProducts}}</span></li>
                                    <li><span>Total product price</span> <span>{{productTotal}}</span></li>
                                    <li><span>GST(5%)</span><span>{{gst}}</span></li>
                                    <li><span>Shipping Charge</span> <span>Free</span></li>
                                    <li><span>Order Total</span> <span>&#x20b9; {{orderAmount}}</span></li>
                                </ul>
                            </div>
                        </div>

                        <div class="w-100"></div>

                        <div class="col-md-12">
                            <div class="cart-detail">
                                <h2>Payment Method</h2>
                                {{!-- <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="radio">
                                            <label><input type="radio" name="optradio"> Direct Bank Tranfer</label>
                                        </div>
                                    </div>
                                </div> --}}
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="radio">
                                            <label><input type="radio" name="optradio">Cash On Delivery</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="radio">
                                            <label><input type="radio" name="optradio">Razor Pay</label>
                                        </div>
                                    </div>
                                </div>
                                {{!-- <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="checkbox">
                                            <label><input type="checkbox" value=""> I have read and accept the terms and
                                                conditions</label>
                                        </div>
                                    </div>
                                </div> --}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p><a href="#" class="btn btn-primary">Place an order</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
 async function submitForm() {

        var formData = {
            name: $('#Formname').val(),
            address:  $('#Formaddress').val(),
            district: $('#Formcity').val(),
            state: $('#Formstate').val(),
            zip: $('#Formzip').val(),
            mail: $('#Formmail').val(),
            number: $('#Formnumber').val()
        };

       
      let response=await  axios.post('/addNewAddress', formData)
          if(response.data.success){
            window.location.reload()
          }
    }
</script>