<div id="page">
    <div class="colorlib-product">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 ">
                    <div class="mb-4 " style="background-color: whitesmoke;">
                        <div class=" ml-4 p-2">
                            <label for=""> <b>
                                    <h6>Delivery Address</h6>
                                </b></label>
                            {{#each address}}
                            <div class="form-check addressDiv mb-3">
                                <input class="form-check-input" type="radio" name="addressRadio" id="address1" checked>
                                <label class="form-check-label" for="address1">
                                    <div>
                                        <p><b>{{this.name}} </b> <span class="ml-3"
                                                onclick="addressDelete('{{this._id}}')"> <i
                                                    class="fa-solid fa-trash"></i></span></p>
                                        <p>{{this.address}}</p>
                                        <p><span>{{this.district}},{{this.state}},{{this.zip}}, </span></p>
                                        <p>{{this.number}}</p>
                                        <p>{{this.mail}}</p>
                                        <p style="color: red; display: none;">ADDRES INNER ID <span
                                                id="addressID">{{this._id}}</span>
                                        </p>


                                    </div>
                                </label>
                            </div>
                            {{/each}}

                            <div class="form-check">
                                <button style="cursor: pointer;" class="bg-dark text-light p-1 my-3 rounded"
                                    data-toggle="modal" data-target="#addressModal">Add New Address</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="addressModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">New Address</h5>
                            </div>
                            <div class="modal-body">
                                <form method="post" id="addressForm">
                                    <h2>Billing Details</h2>
                                    <div class="row">

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="name">Name</label>
                                                <input type="text" id="Formname" class="form-control" name="name"
                                                    placeholder="Your Name">
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="address">Address</label>
                                                <input type="text" id="Formaddress" class="form-control" name="address"
                                                    placeholder="Enter Your Address">
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="companyname">District</label>
                                                <input type="text" id="Formcity" class="form-control" name="district"
                                                    placeholder="Town or City">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="state">State</label>
                                                <input type="text" id="Formstate" class="form-control" name="state"
                                                    placeholder="Enter Your State">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="zip">Postal Code</label>
                                                <input type="number" id="Formzip" class="form-control" name="zip"
                                                    placeholder="Zip / Postal">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="mail">E-mail Address</label>
                                                <input type="text" id="Formmail" class="form-control" name="mail"
                                                    placeholder="State Province">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="Phone">Phone Number</label>
                                                <input type="number" id="Formnumber" class="form-control" name="number"
                                                    placeholder="">
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-dark"
                                                onclick="submitForm()">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="col-lg-4">
                    <div class="row">

                        <div class="col-md-12 ">
                            <div class="cart-detail">
                                <button style="cursor: pointer; margin-left: 37px;"
                                    class="bg-dark text-light p-1 rounded " data-toggle="modal"
                                    data-target="#exampleModalLong">Order Summary !</button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Order Summary</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body ">
                                                {{#if multiple}}
                                                {{#each orderedProducts }}
                                                <div class="row border p-4 bg-dark text-light allProducts">
                                                    <div class="col-12  ">
                                                        <label for="">Product Image :</label><span id="name"
                                                            class="ml-lg-2"><img width="100px"
                                                                src="{{this.productImage}}" alt=""></span>
                                                    </div>

                                                    <div class="col-12">
                                                        <label for="">Product Name :</label><span id="name"
                                                            class="ml-lg-2">{{this.productName}}</span>
                                                    </div>

                                                    <div class="col-12">
                                                        <label for="">Product Category :</label><span id="cat"
                                                            class="ml-lg-2">{{this.productCategory}}</span>
                                                    </div>

                                                    <div class="col-12">
                                                        <label for="">Product Subcategory :</label><span id="sub"
                                                            class="ml-lg-2">{{this.productSubCategory}}</span>
                                                    </div>

                                                    <div class="col-12">
                                                        <label for="">Product Brand :</label><span id="brand"
                                                            class="ml-lg-2">{{this.productBrand}}</span>
                                                    </div>

                                                    <div class="col-12">
                                                        <label for="">Product Color :</label><span id="color"
                                                            class="ml-lg-2">{{this.productColor}}</span>
                                                    </div>

                                                    <div class="col-12">
                                                        <label for="">product Size: </label><span
                                                            class="ml-lg-2 size">{{this.productSize}}</span>
                                                    </div>

                                                    <div class="col-12">
                                                        <label for="">Product Quantity :</label><span
                                                            class="ml-lg-2 qty">{{this.productQty}}</span><span></span>
                                                    </div>

                                                    <div class="col-12">
                                                        <label for="">Product MRP :</label>&#x20b9;<span id="price"
                                                            class="ml-lg-2">{{this.productMRP}}</span>
                                                    </div>

                                                    <div class="col-12">
                                                        <label for="">Product Discount :</label>&#x20b9;<span id="price"
                                                            class="ml-lg-2">{{this.productDiscount}}</span>
                                                    </div>

                                                    <div class="col-12">
                                                        <label for="">Product Price :</label>&#x20b9;<span id="price"
                                                            class="ml-lg-2">{{this.productPrice}}</span>
                                                    </div>

                                                    <div class="col-12">
                                                        <label for="">Product Total :</label><span id="vendorName"
                                                            class="ml-lg-2">{{this.productTotal}}</span>
                                                    </div>

                                                    <div class="col-12">
                                                        <label for="">Seller Name :</label><span id="vendorId"
                                                            class="ml-lg-2">{{this.vendorName}}</span>
                                                    </div>
                                                    <p style="color: red; display: none;">VENDOR ID: {{this.vendorId}}
                                                    </p>
                                                    <p style="color: red; display: none;">PRODUCT ID: <span
                                                            class="productId">{{this.productId}}</span> </p>


                                                </div>

                                                {{/each}}
                                                {{/if}}

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="cart-detail">
                                <h2>Cart Total</h2>
                                <ul>
                                    <li><span>No of Products</span> <span>{{noOfProducts}}</span></li>
                                    <li><span>Total Products MRP</span> <span>{{productTotalMRP}}</span></li>
                                    <li><span>Total Discount</span> <span>{{productTotalDiscount}}</span></li>
                                    <li><span>Total product price</span> <span>{{productTotal}}</span></li>
                                    <li><span>GST(5%)</span><span>{{gst}}</span></li>
                                    <li><span>Shipping Charge</span> <span>Free</span></li>
                                    <li><span>Coupon Applied</span> <span id="couponStatus">No</span></li>
                                    <li><span>Order Total</span> <span id="orderTotal">&#x20b9; {{orderAmount}}</span>
                                    </li>
                                    <li style="display: none;" id="final"><span>Final Amount</span><span
                                            id="finalAmount" style="font-weight: 600;"></span></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-12 ">
                            <div class="cart-detail">
                                <div class="row ">
                                    <div class="col-sm-11">
                                        <input type="text" name="coupon" class="form-control  input-number"
                                            id="couponNumber" placeholder="Your Coupon Number..." required>
                                        <small id="couponText"></small>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 mt-3">
                                        <input style="cursor:pointer; color: white;" type="button" value="Apply Coupon"
                                            class="bg-dark mb-4  rounded" id="couponButton">
                                        <input style="cursor:pointer; color: white;" type="button" value="Cancel Coupon"
                                            class="bg-dark mb-4  rounded" id="couponCancel">
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                        Available Coupons
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h6>Available Coupons</h6>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body p-3">
                                                    {{#each coupon}}

                                                    <div class="border border-success p-3 "
                                                        style="color: black !important;  ">
                                                        Coupon Name : <b> <span
                                                                style="color: green;">{{this.name}}</span></b>
                                                        <p>Benifit : {{this.value}}% Off</p>
                                                        <p>Exp Date: <span
                                                                class="text-warning">{{this.modifiedDate}}</span> </p>
                                                    </div>
                                                    <br>
                                                    {{/each}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div class="w-100"></div>

                        <div class="col-md-12">
                            <div class="cart-detail payment">
                                <h2>Payment Method</h2>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="radio">
                                            <input type="radio" name="mode" checked value="COD"><span class="ml-2">Cash
                                                On Delivery</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="radio">
                                            <input type="radio" name="mode" checked value="RP"><span class="ml-2">Razor
                                                Pay</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p><a href="#" class="btn btn-dark " id="placeOrder">Place an order</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))

    let addressId;
    let products = []
    let modeOfPayment;
    let coupon = null;

    $('#placeOrder').on('click', function () {
        $('#placeOrder').addClass('disabled')

        //ADDRESS FETCHING
        let checkedRadioButton = $('.addressDiv input[name="addressRadio"]:checked');
        if (checkedRadioButton.length > 0) {

            addressId = checkedRadioButton.siblings('label').find('#addressID').text() //SOMETIMES NEED MORE ACCURACY TO GET THESE VALUES, OTHERWISE IT ONLY TAKE THE FIRST ADDRESS ID NOT CHECKED ID,WE NEED TO SELECT CHECKED  CONTAINER VALUES,SO USE MORE ACCURACY BY FINDING
            //METHORDS TO LEARN 
            var checkedAddress = {
                /*  name: checkedRadioButton.siblings('label').find('p:nth-child(1) b').text(),
                  address: checkedRadioButton.siblings('label').find('p:nth-child(2)').text(),
                  district: checkedRadioButton.siblings('label').find('p:nth-child(3) span').text().split(',')[0],
                  state: checkedRadioButton.siblings('label').find('p:nth-child(3) span').text().split(',')[1],
                  zip: checkedRadioButton.siblings('label').find('p:nth-child(3) span').text().split(',')[2],
                  number: checkedRadioButton.siblings('label').find('p:nth-child(4)').text(),
                  mail: checkedRadioButton.siblings('label').find('p:nth-child(5)').text(), */
                //  _id: checkedRadioButton.siblings('label').find('p:last').text().replace('ADDRES INNER ID ', '')
            };
            console.log("address id", addressId);
        } else {
            console.log('No radio button is checked');
        }

        //PRODUCT ID FETCHING
        $('.allProducts').each(function () {
            let tray = {
                productId: $(this).find('.productId').text(),
                size: parseInt($(this).find('.size').text()),
                qty: parseInt($(this).find('.qty').text())
            }
            products.push(tray)

        });
        console.log("All product Ids", products)

        //MODE OF PAYMENT 
        let checkedRadioButtonMode = $('.payment input[name="mode"]:checked');
        if (checkedRadioButtonMode.length > 0) {
            modeOfPayment = checkedRadioButtonMode.val()
        }
        console.log("mode of payment", modeOfPayment)
        console.log("coupon Id", coupon)


        //sending all data to order collection
        axios.post('/orderPlaced', { addressId, modeOfPayment, couponId: coupon, productsArray: products })
            .then((response) => {
                if (response.data.success) {
                    if (response.data.modeOfPayment === 'COD') {


                        Swal.fire({
                            title: "Order Placed Successfully",
                            text: `Order Id : ${response.data.orderId}`,
                            icon: "success"
                        });

                        //     alert(`Your Order Placed Successfully Cash on Delivery ${response.data.orderId}`)
                        console.log("id", response.data.orderId)
                    } else {
                          Swal.fire({
                            title: "Order Placed Successfully",
                             text: `Order Id : ${response.data.orderId}`,
                            icon: "success"
                        });

                     //   alert(`Your Order Placed Successfully Online Payment ${response.data.orderId}`)
                        console.log("id", response.data.orderId)
                    }
                }


            })
            .catch((error) => {
                console.error('Error submitting order :', error);
            })
        //axios end

        products = [] //RESET THE PRODUCTS ARRY

    })







    function submitForm() {

        var formData = {
            name: $('#Formname').val(),
            address: $('#Formaddress').val(),
            district: $('#Formcity').val(),
            state: $('#Formstate').val(),
            zip: $('#Formzip').val(),
            mail: $('#Formmail').val(),
            number: $('#Formnumber').val()
        };


        axios.post('/addNewAddress', formData)
            .then((response) => {
                if (response.data.success) {
                    window.location.reload();
                }
            })

            .catch((error => {
                console.error('Error submitting form:', error);
            }))
    }




    function addressDelete(id) {
        // let addressInnerId=id
        //  alert(id)
        axios.post('/deleteAddress', { addressInnerId: id })
            .then(response => {
                console.log('Address deleted successfully:', response.data);
                if (response.data.success) {
                    window.location.reload()
                }
            })

            .catch(error => {
                console.error('Error deleting address:', error);
            })
    }





    $('#couponCancel').on('click',function () {
         window.location.reload()
    })




    //COUPON BUTTONS CLICK TO GET COUPNS
    $('#couponButton').on('click', function () {
        let couponName = $('#couponNumber').val();

        $('#couponText').removeClass(); // Remove all classes Dispaly color 
        $('#couponText').text("") //clear all error

        $(this).addClass('text-success');
        //  alert($('#couponNumber').val());
        let allProductIds = []
        $('.allProducts').each(function () {
            let tray = {
                productId: $(this).find('.productId').text(),
                size: parseInt($(this).find('.size').text()),
                qty: parseInt($(this).find('.qty').text())
            }
            allProductIds.push(tray)
        });



        console.log(allProductIds, couponName)
        axios.post('/couponVerify', { couponName, allProductIds })
            .then((response) => {
                console.log("success")
                if (response.data.invalid) {
                    $('#couponText').addClass('text-danger')
                    $('#couponText').text(response.data.text)
                } else if (response.data.expired) {
                    $('#couponText').addClass('text-warning')
                    $('#couponText').text(response.data.text)
                } else if (response.data.applied) {
                    $('#couponText').addClass('text-success')
                    $('#couponText').text(response.data.text)
                    console.log(response.data.finalAmount)
                    $('#couponStatus').text('Yes')
                    $('#orderTotal').css('text-decoration', 'line-through');
                    style = "text-decoration: line-through;"
                    $('#final').css('display', 'block')
                    $('#finalAmount').text(`RS ${response.data.finalAmount}`)
                    coupon = response.data.couponId
                }
            })
            .catch((error) => {
                console.error(error)
                alert("cannot verify your coupon now")
            })
    });



</script>