<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1><u>WELCOME TO SHOE ZILLA</u></h1>

    {{#if userName}}
    <h3>Customer Id = {{userId}}</h3>
    <h2 style="color: green;"><span style="font-weight: 200; color:black">Hai</span> <i>{{userName}}</i></h2>
    <a href="/userLogin"><button disabled>LOG IN</button></a>
    <a href="/userLogout"><button>LOG OUT</button></a>
    {{else}}
    <a href="/userLogin"><button>LOG IN</button></a>
    <a href="/userLogout"><button disabled>LOG OUT</button></a>
    {{/if}}

    <!-- Products Display Gallery -->
    <div>
        <h2>Products</h2>
        <div style="display: flex; flex-wrap: wrap; gap: 20px; margin-top: 20px;">
            {{#each products}}
            <div style="border: 1px solid #ccc; padding: 10px; width: 200px;">
                <img src="{{this.productImages.[0].url}}" alt="{{this.productImages.[0].originalname}}" style="max-width: 100px; max-height: 100px;">
                <h3>{{this.productName}}</h3>
                <p><strong>Price:</strong> {{this.productPrice}}</p>
                <p><strong>Color:</strong> {{this.productColor}}</p>
                <p><strong>Brand:</strong> {{this.productBrand}}</p>
                <p><strong>Subcategory:</strong> {{this.productSubcategory}}</p>
            </div>
            {{/each}}
        </div>
    </div>

    <!-- Men Products Display Gallery -->
    <div>
        <h2>Men Products</h2>
        <div style="display: flex; flex-wrap: wrap; gap: 20px; margin-top: 20px;">
            {{#each MenProducts}}
            <div style="border: 1px solid #ccc; padding: 10px; width: 200px;">
                <img src="{{this.productImages.[0].url}}" alt="{{this.productImages.[0].originalname}}" style="max-width: 100px; max-height: 100px;">
                <h3>{{this.productName}}</h3>
                <p><strong>Price:</strong> {{this.productPrice}}</p>
                <p><strong>Color:</strong> {{this.productColor}}</p>
                <p><strong>Brand:</strong> {{this.productBrand}}</p>
                <p><strong>Subcategory:</strong> {{this.productSubcategory}}</p>
            </div>
            {{/each}}
        </div>
    </div>

    <!-- Women Products Display Gallery -->
    <div>
        <h2>Women Products</h2>
        <div style="display: flex; flex-wrap: wrap; gap: 20px; margin-top: 20px;">
            {{#each WomenProducts}}
            <div style="border: 1px solid #ccc; padding: 10px; width: 200px;">
                <img src="{{this.productImages.[0].url}}" alt="{{this.productImages.[0].originalname}}" style="max-width: 100px; max-height: 100px;">
                <h3>{{this.productName}}</h3>
                <p><strong>Price:</strong> {{this.productPrice}}</p>
                <p><strong>Color:</strong> {{this.productColor}}</p>
                <p><strong>Brand:</strong> {{this.productBrand}}</p>
                <p><strong>Subcategory:</strong> {{this.productSubCategory}}</p>
            </div>
            {{/each}}
        </div>
    </div>

</body>
</html>
