<body>
	<div class="colorlib-loader"></div>

	<div id="page">

		{{!-- CAROSEL --}}
		<aside id="colorlib-hero">
			<div class="flexslider">
				<ul class="slides">
					{{#each banner}}
					<li style="background-image: url({{this.bannerImage}});">
						<div class="overlay"></div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-sm-6 col-lg- offset-sm-3 text-center slider-text">
									<div class="slider-text-inner">
										<div class="desc">
											{{!-- <h1 class="head-1">Men's</h1>
											<h2 class="head-2">Shoes</h2>
											<h2 class="head-3">Collection</h2>
											<p class="category"><span>New trending shoes</span></p> --}}
											{{!-- <p><a href="#" class="btn btn-primary">Shop Collection</a></p> --}}
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					{{/each }}
				</ul>
			</div>
		</aside>
		{{!-- CAROSEL END--}}


		<div class="colorlib-intro">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h4 class="intro"><i> Your ultimate destination for premium Shoes, stylish and comfortable shoes
								for both men and women.</i></h4>
					</div>
				</div>
			</div>
		</div>

		<div class="colorlib-product">
			<div class="container-fluid">
				<div class="row">
					{{#each category}}
					<div class="col-sm-6 text-center">
						<div class="featured">
							{{#if this.currentCategoryIsMen }}
								<a href="/men" class="featured-img" style="background-image: url({{this.categoryImage}});background-position-y: 60%;"></a>
                              {{else}}
							  <a href="/women" class="featured-img" style="background-image: url({{this.categoryImage}});background-position-y: 60%;"></a>
							{{/if}}
						
							<div class="desc">
								{{#if this.currentCategoryIsMen }}
								{{!-- HERE CHECK IN WHICH DATA HAS currentCategoryIsMen== True --}}
								<h2><a href="/men">Shop {{this.categoryName}}'s Collection</a></h2>
								{{else}}
								<h2><a href="/women">Shop {{this.categoryName}}'s Collection</a></h2>
								{{/if}}
							</div>
						</div>
					</div>
					{{/each}}
				</div>
			</div>
		</div>


		<div class="colorlib-product">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 offset-sm-2 text-center colorlib-heading">
						<h2>Latest Products</h2>
					</div>
				</div>

				{{!-- <div class="row row-pb-md">
					{{#each latestProducts}}
					<div class="col-lg-3 col-md-4 mb-4 text-center">
						<div class="product-entry border">
							<a href="#" class="prod-img">
								<img src="{{this.productImages.[0].url}}" class="img-fluid"
									alt="Free html5 bootstrap 4 template">
							</a>
							<div class="desc">
								<h2><a href="#">{{this.productName}}</a></h2>

								<p>MRP: <del style="font-size: small;font-weight: 500; color:red">
										&#x20b9;{{this.productMRP}}</del> <span
										style="color: green;">{{this.productDiscount}}% off </span></p>
								<span class="price"> &#x20b9;{{this.productPrice}}</span>
							</div>
						</div>
					</div>
					{{/each}}
				</div> --}}

				{{!-- TRY --}}
				<div class="row row-pb-md">
					{{#each latestProducts}}
					<div class="col-lg-3 col-md-4 mb-4 text-center">
						<div class="product-entry border">
							<a href="#" class="prod-img" onclick="formAct('{{this.products.[0]._id}}')">
								<img src="{{this.products.[0].productImages.[0].url}}" class="img-fluid"
									alt="Free html5 bootstrap 4 template">
								{{!-- {{#each this.products.[0].productImages}}
								<img src="{{url}}" class="img-fluid" alt="Free html5 bootstrap 4 template">
								{{/each}} --}}
							</a>
							<div class="desc">
								<h2><a href="#">{{this._id}}</a></h2>
								<p>MRP: <del style="font-size: small;font-weight: 500; color:red">
										&#x20b9;{{this.products.[0].productMRP}}</del> <span
										style="color: green; padding-left:5px">{{this.products.[0].productDiscount}}%
										off </span></p>
								<span class="price"> &#x20b9;{{this.products.[0].productPrice}}</span>
								{{!-- <h1>{{this.products.[0]._id}}</h1> --}}
							</div>
						</div>
					</div>
					{{/each}}
				</div>

				<div class="row">
					<div id="all" style="display: none;">
						<div class="row">
							<div class="col-sm-8 offset-sm-2 text-center colorlib-heading">
								<h2>All Products</h2>
							</div>
						</div>
						<div class="row row-pb-md">
							{{#each allProducts}}
							<div class="col-lg-4 col-md-4 mb-4 text-center">
								<div class="product-entry border">
									<a href="#" class="prod-img" onclick="formAct('{{this.products.[0]._id}}')">
										<img src="{{this.products.[0].productImages.[0].url}}" class="img-fluid"
											alt="Free html5 bootstrap 4 template">
										{{!-- {{#each this.products.[0].productImages}}
										<img src="{{url}}" class="img-fluid" alt="Free html5 bootstrap 4 template">
										{{/each}} --}}
									</a>
									<div class="desc">
										<h2><a href="#">{{this._id}}</a></h2>
										<p>MRP: <del style="font-size: small;font-weight: 500; color:red">
												&#x20b9;{{this.products.[0].productMRP}}</del> <span
												style="color: green; padding-left:5px">{{this.products.[0].productDiscount}}%
												off </span></p>
										<span class="price"> &#x20b9;{{this.products.[0].productPrice}}</span>
									</div>
								</div>
							</div>
							{{/each}}
						</div>

					</div>
					<div class="col-md-12 text-center">
						<p><a href="#all" class="btn btn-primary btn-lg">Shop All Products</a></p>
					</div>
				</div>
			</div>
		</div>

		{{!-- BRANDS --}}
		<div class="colorlib-partner">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
						<h2>Trusted Partners</h2>
					</div>
				</div>
				<div class="row" style="row-gap: 50px;">
					{{#each brands}}
					<div class="col-12 col-md-6 col-lg-3 text-center">
						<img src="{{this.brandImage}}" class="img-fluid" alt="{{this.brandName}}">

					</div>
					{{/each}}
				</div>
			</div>
		</div>
		{{!-- BRANDS END --}}


<form style="visibility:hidden;"  id="productForm" action="/productDetails" method="post">
	<input type="hidden" value="" name="productId">
	<button type="submit"></button>
</form>


	</div>


	{{!-- MY SCRIPT --}}
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script>
       
	   function formAct(ProductId){
	//	alert(ProductId)
		$('input[name=productId]').val(ProductId);
       $('#productForm').submit();

	   }


		$(document).ready(function () {
			$(".btn-primary").on("click", function () {
				$("#all").toggle();
				let text = $("#all").is(":visible") ? "Close all Products" : "Show All Products"
				$(".btn-primary").text(text);
			});

		});


	</script>
	{{!-- MY SCRIPT END--}}

</body>