
<body>

	<div class="colorlib-loader"></div>
	{{!-- MAIN DIV --}}
	
	<div id="page">
		

		{{!-- PAGE INDICATION --}}
		<div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="bread"><span><a href="/">Home</a></span> / <span>Men</span></p>
					</div>
				</div>
			</div>
		</div>
		{{!-- PAGE INDICATION END --}}




		{{!-- WOMAN BANNER --}}
		<div class="breadcrumbs-two">
			<div class="container">
				<div class="row">
					<div class="col">
						{{#each banner}}
						<div class="breadcrumbs-img"
							style="background-image: url({{this.bannerImage}}); background-position-y:75%"></div>
						{{/each}}
					</div>
				</div>
			</div>
		</div>
		{{!-- WOMAN BANNER END --}}


		<div class="colorlib-product">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-xl-3">
						<div class="row">
							<div class="col-sm-12 ">
								<div class="side border mb-1">
									<h3>Brand</h3>  
                                     {{#each brands}}
									 <div id="brands" class="form-check">
										<input class="form-check-input" type="checkbox" value="{{this.brandName}}" id="flexCheckDefault">
										<label class="form-check-label" for="flexCheckDefault">{{this.brandName}}</label>
									</div>
									{{/each}}
								</div>
							</div>
							<div class="col-sm-12">
								<div class="side border mb-1">
									<h3>Size</h3>
									<div id="size" class="block-26 mb-2">
										<ul>
											<li onclick="sizeArray(this)"><a href="#">7</a></li>	
											<li onclick="sizeArray(this)"><a href="#">8</a></li>
											<li onclick="sizeArray(this)"><a href="#">9</a></li>
											<li onclick="sizeArray(this)"><a href="#">10</a></li>
											<li onclick="sizeArray(this)"><a href="#">11</a></li>
											<li onclick="sizeArray(this)"><a href="#">12</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								<div  id="subCategory" class="side border mb-1">
									<h3>Sub Category</h3>
									 {{#each subCategory}}
									 <div class="form-check">
										<input class="form-check-input" type="checkbox" value="{{this.subCategoryName}}" id="flexCheckDefault">
										<label class="form-check-label" for="flexCheckDefault">{{this.subCategoryName}}</label>
									</div>
									{{/each}}								
								</div>
							</div>
							<div class="col-sm-12">
								<div id="colors" class="side border mb-1">
									<h3>Colors</h3>
									{{#each colors}}
									 <div class="form-check">
										<input class="form-check-input" type="checkbox" value="{{this.colors}}" id="flexCheckDefault">
										<label class="form-check-label" for="flexCheckDefault">{{this.colors}}</label>
									</div>
									{{/each}}
								</div>
							</div>
						</div>
					</div>
					{{!-- SIDE BAR END --}}

                       <div class="col-sm-12">
						<button onclick="submisions()" class="btn btn-success">Filter</button>
					   </div>
                 

					{{!-- PRODUCT 3 SECTION WIDTH BOX START --}}
					<div class="col-lg-9 col-xl-9">
						{{!-- product box --}}
						<div class="row row-pb-md">
							{{#each Allcollections}}
							<div class="col-lg-4 col-md-6 mb-4 text-center">
								<div class="product-entry border">
									<a href="#" class="prod-img">
										<img src="{{this.products.[0].productImages.[0].url}}" class="img-fluid"
											alt="Free html5 bootstrap 4 template">
										{{!-- {{#each this.products.[0].productImages}}
										<img src="{{url}}" class="img-fluid" alt="Free html5 bootstrap 4 template">
										{{/each}} --}}
									</a>
									<div class="desc">
										<h2><a href="#">{{this._id}}</a></h2>
										<p>MRP: <del style="font-size: small;font-weight: 500; color:red">
												&#x20b9;{{this.products.[0].productMRP}}</del> <span
												style="color: green; padding-left:5px">{{this.products.[0].productDiscount}}%off
											</span></p>
										<span class="price"> &#x20b9;{{this.products.[0].productPrice}}</span>
									</div>
								</div>
							</div>
							{{/each}}
						</div>
						{{!-- PRODUCT BOX END --}}



						{{!-- NEXT BUTONS START --}}
						{{!-- <div class="row">
							<div class="col-md-12 text-center">
								<div class="block-27">
									<ul>
										<li><a href="#"><i class="ion-ios-arrow-back"></i></a></li>
										<li class="active"><span>1</span></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li><a href="#">4</a></li>
										<li><a href="#">5</a></li>
										<li><a href="#"><i class="ion-ios-arrow-forward"></i></a></li>
									</ul>
								</div>
							</div>
						</div> --}}
						{{!-- NEXT BUTONS END --}}

						
					</div>
					{{!-- PRODUCT 3 SECTION WIDTH BOX END --}}

				</div>
			</div>
		</div>

   <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script>
    let brand = [];
    let size = [];
    let subCategory = [];
    let color = [];
     
	 //BRANDS
    //THIS LINE SELECT ALL INPUT FIELD UNDER THE DIV ID BRANDS.
    $('#brands input').on('change', function () {
        //IN THE INPUT FILEDS ON CHANGE EVENT HANDLER TAKE THE INPUT CHECKD TYPE VALUES
        brand = $('#brands input:checked').map(function () { //THIS MAP FUNCTION TAKE THE ALL SELECTED VALUES AND RETUN THE VALUES TO DECLARED ARRAY
            return $(this).val();
        }).get();

        console.log('Selected Brands:', brand);
    });
    
	 //SUBCATEGORY
    $('#subCategory input').on('change', function () {
        subCategory = $('#subCategory input:checked').map(function () { 
            return $(this).val();
        }).get();

        console.log('Selected subCategory:', subCategory);
    });

	 //COLORS
    $('#colors input').on('change', function () {
        color = $('#colors input:checked').map(function () {
            return $(this).val();
        }).get();

        console.log('Selected color:', color);
    });

	//SIZE
	function sizeArray(li){
		size=[];
      size.push(li.textContent)
	  console.log(size)
	}
  
 
   
  async function submisions () {
	try{
	//	alert("clicked")
     let response=await axios.post('/menFilter',{brand,subCategory,color,size})
	}catch(error){
		console.error(error)
	}
	
   }



    
  
	

        

		

	</script>
</body>

</html>