<div id="page">
    <div class="colorlib-product">
        <div class="container">
            <div class="row ">

                {{#each outerProduct }}
                <div class="col-8 mb-4 border">
                    <div class="row py-3">
                        <div class="col-lg-3 ">
                            <img onclick="formAct('{{this.productIdRef._id}}')" class="w-100" src="{{this.productIdRef.productImages.[0].url}}">
                        </div>
                        <div class="col-lg-4  ">
                            <h5>{{this.productIdRef.productName}}</h5>
                            <small><span style="font-weight: 500;">Color :</span> {{this.productIdRef.productColor}}</small><br>           
                            <small><span style="font-weight: 500;">Size :</span> {{this.size}}</small>
                            <small><span style="font-weight: 500;"> &  Quantity :</span> {{this.qty}}</small><br>
                            <small><span style="font-weight: 500;">Product Price :</span> {{this.productIdRef.productPrice}}</small><br>
                            <small><span style="font-weight: 500;">Seller Name :</span> {{this.productIdRef.vendorName}}</small><br>
                            <small ><span style="font-weight: 500;">Expected Delivery : </span><span class="exp" data-date="{{this.deliveryDate}}" > </span> </small>
                            <p><span style="font-weight: 500;">STATUS :</span><i> {{this.status}}</i></p>

                        </div>
                        <div class="col-6 ">
                           <a  href="/invoice?orderid={{this.ORDERID}}" ><button style="cursor: pointer;" class="rounded mr-2 mb-2">Invoice</button></a>
                          {{#if this.cancelReason}}
                           <button  style="opacity: 0.5;" class="rounded">Cancel Order</button>
                          {{else}}
                            <button style=" cursor: pointer;" class="rounded" onclick="cancelOrder('{{this._id}}')">Cancel Order</button>
                           {{/if}}
                        </div>
                    </div>
                </div>
                {{/each }}


                {{!-- MODAL FOR CANCEL --}}
                <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cancellation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/cancelOrderRequest" method="post"  onsubmit="return validation()">
           <label for="">Reason for Cancellation</label><br>
           <input style="display: none;" type="text" name="innerProductId" id="innerProductId" >
           <input  class="w-100" type="text" name="reason" id="reason" placeholder="Min length 10 Letters required" >
           <small style="color: red;" id="reasonError"></small><br>
           <input class="mt-2" type="submit"  value="Submit" >
        </form>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


            </div>
        </div>
    </div>
</div>

<form style="visibility:hidden;"  id="productForm" action="/productDetails" method="post">
	<input type="hidden" value="" name="productId">
	<button type="submit"></button>
</form>

<script>  
    $(document).ready(function() {
     formatOrderDate()
    })       

	   function formAct(ProductId){
	   $('input[name=productId]').val(ProductId);
       $('#productForm').submit();
	   }


    function formatOrderDate() { //FUNCTION TO RETURN MODIFIED DATE
   
    let exp= $('.exp').data('date')
    let dateForm = new Date(exp);
    const options = { weekday: 'short', month: 'short', day: 'numeric', year: 'numeric' };
    let modified= dateForm.toLocaleDateString('en-US', options);
     $('.exp').text(modified)
  }


  function cancelOrder(currentProductOrderId){
    var modal = new bootstrap.Modal(document.getElementById("exampleModal"));
    modal.show();
      $('#innerProductId').val(currentProductOrderId)
    
    
//    alert(`${currentProductOrderId} Got the induvidual now change the status to cancelled`)

  }

   function validation() {
    let reason = document.getElementById("reason").value.trim();
    let words = reason.split("");
   // alert(words)

    if (words.length < 10 || words.length > 50) {
        $('#reasonError').text("Valid reason needed")
      return false; // Prevent form submission
    }

  
    return true;
  }

</script>