<div class="colorlib-loader"></div>

<div id="page">

  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="bread"><span><a href="/">Home</a></span> / <span>Product Details</span></p>
        </div>
      </div>
    </div>
  </div>


  <div class="colorlib-product">
    <div class="container">
      <div class="row row-pb-lg product-detail-wrap">
        <div class="col-sm-8">
          <div class="owl-carousel">

            {{#each product.productImages}}
            <div class="item">
              <div class="product-entry ">
                <a href="#" class="prod-img d-flex justify-content-end">
                  <img src="{{this.url}}" class="zoom img-fluid w-75 border" alt="Free html5 bootstrap 4 template"
                    data-magnify-src="{{this.url}}">
                </a>
              </div>
            </div>
            {{/each}}

          </div>
        </div>
        <div class="col-md-4 w-100">
          <div class="product-desc">
            <h3 style="font-size: x-large;">{{product.productName}}</h3>
            <p style="color: black;font-family: 'ui-monospace';">{{product.productCategory}}'S
              {{product.productSubCategory}}</p>

            {{!-- <h6>Type : {{product.productSubCategory}}</h6> --}}
            <h6>Brand : {{product.productBrand}}</h6>
            <small style="color: black; font-weight: 500;">Color : {{product.productColor}} </small>

            <p class="price">
              <span>&#x20b9;{{product.productPrice}}</span>
            <p><strike style="font-weight: 500; color:red">&#x20b9;{{product.productMRP}}</strike> <span
                style="color:rgb(11, 137, 55)"><b> ({{product.productDiscount}}% Off)</b></span></p>
            </p>
            {{!-- <p>Discount : {{product.productDiscount}}%</p> --}}
            <div class="size-wrap mt-3" id="sizeDiv">
              <div class="block-26 mb-2">
                <h4>Size</h4>
                <ul class="sizeUl" style="display: flex; column-gap: 14px;">
                  {{#each product.productSizeAndQty}}
                  <div style="display:flex;flex-direction: column; " id="liDiv">
                    <li onclick="sizeSeleted(this,'{{this._id}}','{{this.size}}','{{this.qty}}')">{{this.size}}
                    </li>
                    <small>Qty:{{this.qty}}</small>
                  </div>
                  {{/each }}
                </ul>
              </div>
              <div class="block-26 mb-4 mt-3">
                <h4>Colors</h4>
                <ul>
                  {{#each productColors}}
                  <img class="border" onclick="formAct('{{this._id}}')" style="width: 90px; height:90px"
                    src="{{this.productImages.[0].url}}" alt="">
                  {{!-- <small>{{this.productColor}}</small> --}}
                  {{/each}}
                </ul>
              </div>
            </div>
            <div class="input-group mb-4">
              <span class="input-group-btn">
                <button type="button" class="quantity-left-minus btn" data-type="minus" data-field="">
                  <i class="icon-minus2"></i>
                </button>
              </span>
              <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1"
                max="100">
              <span class="input-group-btn ml-1">
                <button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
                  <i class="icon-plus2"></i>
                </button>
              </span>
            </div>
            <div class="row">
              <div class="col-sm-12 text-center" id="cartDiv">
                <p class="addtocart"><a href="#sizeDiv" class="btn btn-primary btn-addtocart"><i
                      class="icon-shopping-cart"></i> Add to Cart</a></p>
              </div>
              <p id="sizeError" class="ml-3" style="color: red; font-weight: 500;"></p>
              <div class="col-sm-12 text-center">
                <p class="buy"><a href="#sizeDiv" class="btn btn-primary btn-addtocart"> Buy Now</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      {{!-- <div class="row">
        <div class="col-12">
          <P>HELLO we can include the thigs</P>
        </div>
      </div> --}}

    </div>
  </div>
</div>




{{!-- FORM TO CALL INDUVIUL PRODUCTvIEW --}}
<form style="visibility:hidden;" id="productForm" action="/productDetails" method="post">
  <input type="hidden" value="" name="productId">
  <button type="submit"></button>
</form>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

  $(document).ready(function () {  //IMAGE ZOOMING
    $('.zoom').magnify();
  });



  let size;
  let totalQTY; //TOTAL STOCK OF THIS ITEM
  var InnerId;
  let price = "{{product.productPrice}}"
  let ProductId = "{{product._id}}";
  let vendorId = "{{product.vendorId}}";

  //WE GET THE SIZE AND INNER ID OF THAT VARIANCE
  function sizeSeleted(element, innerID, Size, quanity, Price) {
    //elelment means this property of li we can get all things here i am using to change css effect
    $('#sizeError').html(" ") //RESETING SIZE CHOOSE ERROR 

    $('#liDiv li').css({    //CLEAR THE CURRENT SELECTED LI BOX COLOR,SO CLEARING ALL LI AND SET TO DEFAULT
      'background-color': '',
      'color': ''
    })

    InnerId = innerID
    size = parseInt(Size)
    totalQTY = quanity

    $(element).css({ //SELECTED LI BOX COLOR CHANGED
      'background-color': 'black',
      'color': 'white'
    })

  }



  var quantity = 1;


  $('.quantity-right-plus').click(function (e) {
    // Stop acting like a button
    e.preventDefault();
    if (size == null) {
      $('#sizeError').html(" Please Choose Size")
      return
    }
    quantity++
    $('#quantity').val(quantity);
    if (quantity > totalQTY) { //ALWAYS CHECK THE TOATAL QTY OF PRODUCT
      $('#sizeError').html("Out Of Stock")
    } else {
      $('#sizeError').html("")
    }
  });

  $('.quantity-left-minus').click(function (e) {
    // Stop acting like a button
    e.preventDefault();
    // Get the field name
    if (quantity < 2) {
      return
    } else {
      quantity--;
      $('#quantity').val(quantity);
      if (quantity > totalQTY) { //ALWAYS CHECK THE TOATAL QTY OF PRODUCT
        $('#sizeError').html("Out Of Stock")
      }else{
         $('#sizeError').html("")
      }
    }
  });




  //ADD TO CART
  $('.addtocart').on('click', async function () {
    try {
      // $('#sizeError').html(" ")
      if (size == null) {
        $('#sizeError').html(" Please Choose Size")
      } else if (totalQTY == 0 && quantity >= totalQTY) {
        $('#sizeError').html("Out Of Stock")
      }
      else {
        console.log("addToCart", InnerId)
        console.log("addToCart", ProductId)
        console.log(`Now I Have \n main ProductId = ${ProductId} \n InnerId = ${InnerId} \n size = ${size} \n price=${price}`)
        let response = await axios.post('/cart', { ProductId, size, InnerId, quantity, vendorId, price })
        if(response.data.loginRequired){
          window.location.href='/userLogin'
        }
       else if (response.data.success) {
          console.log("product added to cart succesfully")
          window.location.href = "/cartView"
        }
      }
    } catch (error) {
      console.error(error)
      alert("CANT process cart now")
    }

  })



  //DIRECTLY GO TO BUY
  $('.buy').on('click', async function () {
    try {
      // $('#sizeError').html(" ")
      if (size == null) {
        $('#sizeError').html(" Please Choose Size")
      } else if (quantity >= totalQTY) {
        $('#sizeError').html("Out Of Stock")
      }
      else {
        console.log("go to buy", InnerId)
        console.log("go to buy", ProductId)
        console.log(`Now I Have \n main ProductId = ${ProductId} \n InnerId = ${InnerId} \n size = ${size} \n price=${price}`)
        alert("buy post")
        /*  let response= await axios.post('/buy',{ProductId,size,InnerId,quantity,vendorId,price})     
          if(response.data.success){
             console.log("product added to buy succesfully")
             window.location.href="/buyView"
          } */
      }
    } catch (error) {
      console.error(error)
      alert("CANT process cart now")
    }

  })





  //CALLING INDUVIDUAL PRODUCT
  function formAct(ProductId) {
    //	alert(ProductId)
    $('input[name=productId]').val(ProductId);
    $('#productForm').submit();

  }
</script>


</body>