<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>User Registration Form</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
     <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
   /*margin-top: 8vh;*/
   height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /*background-image: url('images/s3.jpg');*/
  background: linear-gradient(90deg, #7db182, transparent);
  background-size:cover;
 
        
}
.container{
  color: black;
  max-width: 700px;
  width: 100%;
 /* background-color:rgb(3 3 3 / 38%);*/
 
   background-color: #3
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  border: 1px solid white;
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
 
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: 1px solid white;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   background-color: #1a1c1d;
   color: white;
   &:hover{
     background-color: rgb(52, 148, 208);
   }
 }
 
 a p{
  &:hover{
    color: rgb(52, 148, 208);
  }
 }

 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}
small{
  padding-left: 3px;
  color: red;
}

     </style>
   </head>
<body onload="disableSubmit()" class="mt-lg-5">
  <div class="container" style="padding: 25px;background-color: #343a403b;">
    <div class="title"><h4>SIGN UP</h4></div>
    <div class="content">
      <form action="/userSignup" method="post" onsubmit="return validation()">
        <div class="user-details">
          <div class="input-box">
            <span class="details">First Name</span>
            <input type="text" placeholder="Enter your name" name="firstName" id="firstName" value="{{firstName}}">
            <small id="firstNameError"></small>
          </div>
          <div class="input-box">
            <span class="details">Last Name</span>
            <input type="text" placeholder="Enter your username" name="lastName" id="lastName" value="{{lastName}}">
            <small id="lastNameError"></small>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" placeholder="Enter your email" name="mail" id="mail" value="{{mail}}" >
            <small id="mailError" style="color: red;">{{mailError}}</small>
          </div>
          
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="text" placeholder="Enter your number" name="phoneNumber" id="phoneNumber" value="{{phoneNumber}}">
            <small id="phoneNumberError"></small>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" placeholder="Enter your password" name="password" id="password1" value="{{password}}">
            <small id="password1Error"></small>
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type="password" placeholder="Confirm your password" name="confirmPassword" id="password2" value="{{confirmPassword}}" >
            <small id="password2Error"></small>
          </div>
        </div>
        <div class="tick-box">
            <input type="checkbox" name="terms" id="terms" onchange="activateButton(this)">  I Agree Terms & Coditions
        </div>
        <div class="button">
          <input id="submit" type="submit" value="Sign Up">
        </div>
      </form> 
        <div style="display: flex;">
          <a href="/"><img style="border: 1px solid black; width:20px; height:20px" src=" /images/home.png " alt="" class="google-img"> </a>     
           <a style="margin-left: 10px; margin-top: -1px; color: white; text-decoration: none;" href="/"><p>HOME</p></a>
        </div>
     
    </div>
  </div>

</body>
<script>
   //submit button gets disabled while loading the page initially
     function disableSubmit() {
  document.getElementById("submit").disabled = true;
 }

//accept terms and conditions check box
  function activateButton(box) {
      if(box.checked) {
        document.getElementById("submit").disabled = false;
       }
       else  {
        document.getElementById("submit").disabled = true;
      }
  }


          function validation(){
                let firstName = document.querySelector("#firstName").value
                let lastName = document.querySelector("#lastName").value
                let phoneNumber = document.querySelector("#phoneNumber").value
                let mail = document.querySelector("#mail").value
                let password1 = document.querySelector("#password1").value
                let password2 = document.querySelector("#password2").value
              


                //MAKE A VARIABLE TO CONTAIN EACH FORM TRUE
                let isfirstNameValid =/^[A-Za-z ]+$/.test(firstName) && firstName.length >= 3 ;//REMOVE WHITE SPACE AND GIVE A STRING AND THAT REMAIN STRING SHOULD NOT EMPTY
                let islastNameValid =/^[A-Za-z ]+$/.test(lastName) && lastName.length >= 1 ;
                let isphoneNumberValid = /^\d{10}$/.test(phoneNumber);;
                let ismailValid = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/.test(mail); // Basic email format
                let ispassword1Valid = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{6,20}$/.test(password1)
                let ispassword2Valid = password1===password2 && password1.length>0
        

                if (!isfirstNameValid || !islastNameValid || !isphoneNumberValid || !ismailValid || !ispassword1Valid || !ispassword2Valid) {
                   
                    if(!isfirstNameValid){
                        document.querySelector("#firstNameError").innerHTML="Minimum 3 Letters Required / Allow letters Only"
                    }else{
                        document.querySelector("#firstNameError").innerHTML=""
                    }
                    if(!islastNameValid){
                        document.querySelector("#lastNameError").innerHTML="Minimum 1 Letters Required / Allow letters Only"
                    }else{
                        document.querySelector("#lastNameError").innerHTML=""
                    }
                    if(!isphoneNumberValid){
                        document.querySelector("#phoneNumberError").innerHTML="10 Digits Required"
                    }else{
                        document.querySelector("#phoneNumberError").innerHTML=""
                    }if(!ismailValid){
                        document.querySelector("#mailError").innerHTML="Proper Email ID Required"
                    }else{
                        document.querySelector("#mailError").innerHTML=""
                    }
                   if(!ispassword1Valid){
                    document.querySelector("#password1Error").innerHTML="More Than 6 Characters with Atleast One Number,Small And Capital Letters Are Required"
                   }else{
                    document.querySelector("#password1Error").innerHTML=""
                   }
                    if(!ispassword2Valid){
                    document.querySelector("#password2Error").innerHTML="Password Not Matching"
                   }else{
                    document.querySelector("#password2Error").innerHTML=""
                   }

                   return false
                 
                 //IF ALL FIELDS ARE VALID THEN ONLY THE ELSE CASE WORKS
                } else {
              return true
          }
      }



</script>
</html>
