<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Sub Category</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <style>
    * {
      padding: 0;
      margin: 0;
    }
  </style>
</head>

<body style="margin: 0; padding: 0;" class="mx-0">
  <div class="container-fluid p-0 d-flex">
    <div class="w-25 border bg-danger h-100 p-3 d-flex flex-column justify-content-between">
      <a href="/admin/dashboard" class="btn btn-success mb-2">Dash Board</a>
      <a href="/admin/ViewCategory" class="btn btn-success mb-2">Category</a>
      <a href="/admin/ViewSubCategory" class="btn btn-success mb-2">Sub Category</a>
      <a href="/admin/ViewBrand" class="btn btn-success mb-2">Brands</a>
      <a href="/admin/ViewProduct" class="btn btn-success mb-2">Products</a>
       <a href="/admin/ViewBanner" class="btn btn-success mb-2">Banner</a>

    </div>

    
    <!-- RIGHT SIDE SECTION -->
    <div class="w-100 border bg-primary p-3">
      <div class="row mb-3">
       <div class="col mb-1">
        {{!-- ALERT FOR SUCCESS --}}
          <div id="alertContainer" class="w-50 ">
            {{#if alert}}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              {{alert}}
              {{!-- ALERT end --}}
       
             <a href="/admin/ViewSubCategory" style="position: relative; top: -10px;">
        <button style="top: -8px; right:-90px" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </a>
            {{/if}}
          </div>
       </div>

        <div class="col text-end">
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addCategoryModal">Add
            Sub Categories </button>
        </div>
      </div>


      <!-- Table 1 -->
      <div class="row">
        <div class="col">
          <table class="table">
            <thead>
              <tr>
                <th>Image</th>
                <th> Sub Category Name</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
               {{#each subCategories}}
              <tr>
                <td><img src="{{this.subCategoryImage}}" alt="{{this.subCategoryName}}" style="max-width: 100px; max-height: 100px;"></td>
                <td>{{this.subCategoryName}}</td>
                <td class="">
                  <a href="" class="btn btn-warning"  onclick="editSubCat('{{this._id}}','{{this.subCategoryName}}','{{this.subCategoryImage}}')">Edit</a>
                  <a href="" class="btn btn-warning" onclick="deleteSubCat('{{this._id}}')" >Delete</a>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add SubCategory</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <!-- Category Name Field -->
          <form id="addForm" action="/admin/addSubCategory" method="post" enctype="multipart/form-data">

            <div class="mb-3">
              <label for="subCategoryName" class="form-label">Category Sub Name</label>
              <input type="text" class="form-control" id="subCategoryName" name="subCategoryName"
                placeholder="Enter category name">
                 <small style="color: red;" id="subCategoryNameError"></small>
            </div>

            <!-- Image Adding Field -->
            <div class="mb-3">
              <label for="categoryImage" class="form-label">Image</label>
              <input type="file" class="form-control" id="subCategoryImage" name="image">
              <small style="color: red;" id="subCategoryImageError"></small>
            </div>
          </form>
        </div>
        {{!-- MODAL FOOTER --}}
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit"  class="btn btn-success" onclick="validateAndSubmit()" >Submit</button>
        </div>
      </div>
    </div>
  </div>
  {{!-- modal end --}}




    {{!-- modify modal --}}
    <!-- Modal -->
    <div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit SubCategory</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <!-- Category Name Field -->
            <form id="EditForm" enctype="multipart/form-data">

              <div class="mb-3">
                <label for="subCategoryNameEdit" class="form-label">Sub Category Name</label>
                <input type="text" class="form-control" id="subCategoryNameEdit" name="subCategoryNameEdit"
                  placeholder="Enter category name" value="">
                  <small style="color: red;" id="subCategoryNameEditError"></small>
              </div>

              <!-- Image Adding Field -->
              <div class="mb-3">
                <small>Current Image</small>
                <img id="subCategoryImageEditView" style="width: 90px;" alt=""><br>
                <label for="subCategoryImageEdit" class="form-label">Image</label>
                <input type="file" class="form-control" id="subCategoryImageEdit" name="image">

              </div>
            </form>
          </div>
          {{!-- MODAL FOOTER --}}
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" form="editForm" class="btn btn-success" onclick="updateSubCat()">Update</button>
          </div>
        </div>
      </div>
    </div>
    {{!-- modal end --}}

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

     <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      
        <script>

   //ADD CATEGORIS MODAL VALIDATION 
    // Validation function
  function validateAndSubmit() {
    var errorCount=0
    // Reset error messages
     $('#subCategoryNameError').html("");
     $('#subCategoryImageError').html("");


    // Get form values
    var subCategoryName =  $('#subCategoryName').val()
    let subCategoryImage =  document.getElementById('subCategoryImage')
    let Regex = /^[a-zA-Z]{3,10}$/; // Only letters, length between 3 and 10

    // Validate inputs
    if (!Regex.test(subCategoryName)) {
       $('#subCategoryNameError').html("Required: Only letters, length between 3 and 10");
      errorCount++
    }

    if (subCategoryImage.files.length == 0) {
       $('#subCategoryImageError').html("Image is required");
      errorCount++
    }

    if(errorCount== 0){
    // If all validations pass, submit the form
    $('#addForm').submit();
    }
  }

  








      //EDIT CATEGORY 
      let id = null; //DECLARE GLOBALLY TO STORE ID

      //THIS FUNCTION WILL MAKE OPEN EDIT MODAL
      function editSubCat(Id, name, image) {
        event.preventDefault();
        // alert(`${id},${name},${image}`)       
        new bootstrap.Modal($('#EditModal')).show()
        $('#subCategoryNameEdit').val(name)
        $('#subCategoryImageEditView').attr('src', image)
        id = Id
      }


      //UPDATAE FORM BUTTON TRIGGERS AND SEND TO SERVER
      function updateSubCat() {

      //VALIDATIONS
      let validate =false 
      let subCategoryNameEdit = $('#subCategoryNameEdit').val()
      let Regex = /^[a-zA-Z]{3,10}$/; // Only letters, length between 3 and 10
     
      if(Regex.test(subCategoryNameEdit)){
        $('#subCategoryNameEditError').html("")
        validate =true
      }else{
        $('#subCategoryNameEditError').html("Required: Only letters, length between 3 and 10")
      }


        if(validate){

        console.log("update section entered after validations")
        event.preventDefault();
        let subCategoryNameEdit = $('#subCategoryNameEdit').val()
        let subCategoryImageEdit = document.getElementById('subCategoryImageEdit').files[0]
        console.log(subCategoryImageEdit)
        const formData = new FormData();
        formData.append('subCategoryNameEdit', subCategoryNameEdit);
        formData.append('image', subCategoryImageEdit);


        axios.put(`/admin/editSubCategory/${id}`, formData, {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        })

          .then((response) => {
            if (response.data.success) {
              alert("updates successfully")
              window.location.href = '/admin/ViewSubCategory'
            } else {
              alert("Nothing To Update")
              window.location.href = '/admin/ViewSubCategory'
            }
          })

          .catch((error) => {
            console.error("Error updating the category:", error);
            alert("Error in Updaing the Subcategory. Please try again later.");
          })

        }
   
      }










          //DELTE SUB CATEGORY
             function deleteSubCat(subCatId){
              event.preventDefault();
            //  alert(subCatId)
            axios.delete('/admin/deleteSubCategory',{
              data: {subCategoryId:subCatId}
              })

              .then(response => {
                if(response.data.success){
                  window.location.href="/admin/ViewSubCategory"
                }else{
                  console.error("cant delete right now")
                  alert("please try after sometime")
                  window.location.href="/admin/ViewSubCategoryy"
                }
              })
              .catch(error => {
                 console.error("Error deleting the Subcategory:", error);
            alert("Error in deleting the Subcategory. Please try again later.");
              })
               
             }
        </script>

</body>

</html>